apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: grafana
  namespace: monitoring
spec:
  interval: 1h
  chart:
    spec:
      chart: grafana
      version: 7.3.11
      sourceRef:
        kind: HelmRepository
        name: grafana
        namespace: flux-system
  install:
    createNamespace: true
  values:
    persistence:
      enabled: true
      storageClassName: k8s-cephfs
      accessModes:
        - ReadWriteOnce
      size: 2Gi
    adminPassword: changeme # Replace with sealed secret later
    ingress:
      enabled: true
      ingressClassName: traefik
      hosts:
        - grafana.totorolab.local
      path: /
